
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div id="logo">
          <a [routerLink]='["/home"]'><img src="img/logo.png" width="125" height="40" alt="Atena" data-retina="true"></a>
        </div>
      </div>
      <nav class="col-md-9 col-sm-9 col-xs-9">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
        <div class="main-menu">
          <div id="header_menu">
            <img src="img/logo_mobile.png" width="125" height="40" alt="Atena" data-retina="true">
          </div>
          <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
          
          <ul *ngIf="isLoggedIn()">
            <li >
              <a (click)="logout()">Logout</a>
            </li>

          </ul>
        </div><!-- End main-menu -->
      </nav>
    </div>
  </div><!-- container -->
</header><!-- End Header -->


