


<div class=" container_gray_line" id="newsletter_container">
  <div class="container margin_60">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h3>Subscribe to our Newsletter for latest news.</h3>
        <div id="message-newsletter"></div>
        <form method="post" action="http://www.ansonika.com/atena/horizontal_nav/assets/newsletter.php" name="newsletter" id="newsletter" class="form-inline">
          <input name="email_newsletter" id="email_newsletter" type="email" value="" placeholder="Your Email" class="form-control">
          <button id="submit-newsletter" class="button"> Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div><!-- End newsletter_container -->

<footer>
  <div class="container">
    <div class="row ">
      <div class="col-md-3 col-sm-3">
        <p id="logo_footer">
          <img src="img/logo.png" width="125" height="40" alt="Atena" data-retina="true">
        </p>
      </div>
      <div class="col-md-3 col-sm-3">
        <h4>About</h4>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
          <li><a href="#">Terms and condition</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <h4>Academic</h4>
        <ul>
          <li><a href="#">Plans of study</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Admissions</a></li>
          <li><a href="#">Staff</a></li>
          <li><a href="#">Students</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <h4>Contact us</h4>
        <ul>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Plan a visit</a></li>
        </ul>
        <ul id="contacts_footer">
          <li>Info line - <a href="tel://033284322">+0332 84322456</a></li>
          <li>Email - <a href="#"><span class="__cf_email__" data-cfemail="afc6c1c9c0efcedbcac1ce81ccc0c2">[email&#160;protected]</span></a> / <a href="#"><span class="__cf_email__" data-cfemail="2e414848474d4b6e4f5a4b404f004d4143">[email&#160;protected]</span></a></li>
        </ul>
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
</footer><!-- End footer -->
<div id="copy">
  <div class="container">
    © Atena 2015 - All rights reserved.
  </div>
</div><!-- End copy -->
<!-- Login modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-popup">
      <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
      <form action="#" class="popup-form" id="myLogin">
        <input type="text" class="form-control form-white" placeholder="Username">
        <input type="text" class="form-control form-white" placeholder="Password">
        <div class="checkbox-holder text-left">
          <div class="checkbox">
            <input type="checkbox" value="accept_1" id="check_1" name="check_1" />
            <label for="check_1"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
          </div>
        </div>
        <button type="button" (click)="Login()" class="btn btn-submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<!-- Register modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-popup">
      <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
      <form action="#" class="popup-form" id="myRegister">
        <input type="text" class="form-control form-white" placeholder="Name">
        <input type="text" class="form-control form-white" placeholder="Last Name">
        <input type="email" class="form-control form-white" placeholder="Email">
        <input type="text" class="form-control form-white" placeholder="Password">
        <div class="checkbox-holder text-left">
          <div class="checkbox">
            <input type="checkbox" value="accept_2" id="check_2" name="check_2" />
            <label for="check_2"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
          </div>
        </div>
        <button type="submit" class="btn btn-submit">Register</button>
      </form>
    </div>
  </div>
</div>
