/* You can add global styles to this file, and also import other style files */
.jaspero__dialog-actions button.primary{
  background-color: #006400;
   color: rgba(255, 255, 255, .87);
}

  .jaspero__dialog-actions button.primary:hover {
   background-color: #3cb371
  }
